.conteneur{
    width:1000px;
    margin:auto;
}

.section{
    width:50%;
    border:1px solid grey;
    margin: 30px auto;
    padding:20px;
}

select,input,button{
    width: 100%;
    height: 35px;
    margin: 10px 0;
}

button{
    background: midnightblue;
    color: white;
}

.small {
    font-size: 10px;
  }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li {
    background: red;
    padding: 10 px 25px;
    margin: 5px;
    width: 20%;
    text-align: center;
}

ul li:nth-child(1){background: red;}
ul li:nth-child(2){background: orange;}
ul li:nth-child(3){background: yellow;}
ul li:nth-child(4){background: green;}
ul li:nth-child(5){background: blue;}
ul li:nth-child(6){background: indigo;}
ul li:nth-child(7){background: purple;}


